
@font-face {
  font-family: 'ClanPro Book';
  src: url('assets/fonts/clanpro-book.eot');
  src: url('assets/fonts/clanpro-book.woff') format('woff'), url('assets/fonts/clanpro-book.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClanPro Bold';
  src: url('assets/fonts/clanpro-bold.eot');
  src: url('assets/fonts/clanpro-bold.woff') format('woff'), url('assets/fonts/clanpro-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lovelo Black';
  src: url('assets/fonts/Lovelo_Black.eot');
  src: url('assets/fonts/Lovelo_Black.woff') format('woff'), url('assets/fonts/Lovelo_Black.ttf') format('truetype'), url('assets/fonts/Lovelo_Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniversNextArabic-Regular';
  src: url('assets/fonts/UniversNextArabic-Regular.eot');
  src: url('assets/fonts/UniversNextArabic-Regular.woff') format('woff'), url('assets/fonts/UniversNextArabic-Regular.ttf') format('truetype'), url('assets/fonts/UniversNextArabic-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


.container
{
	width: 100% !important;
	padding-left: 0;
	padding-right: 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
/*background: linear-gradient(to right,  #ed6086 0%,#eedad9 100%,#eedad9 100%);*/
/*background: linear-gradient(to right,  #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%);*/

}


/********** Spinner ***************/

#loading
{
    background: linear-gradient(to right,  #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%);
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    /*display: none;*/
}

.overlay_inner
{
/*    transform-origin: center;
  transform: rotate(309deg);*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*height: 70px;
  width: 205px;*/
}

.spinner_logo
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.spinner {
  width: 80px;
  height: 80px;
  /*margin: 50px auto;*/
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  animation: wash 8.5s infinite alternate cubic-bezier(0.5, 0, 0.5, 1);
}
.ball-1 {
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 1;
}
.ball-1:before {
  content: '';
  border-radius: 50%;
  /*border: 15px solid #009;*/
  height: 100%;
  width: 100%;
  position: absolute;
  top: -50%;
  left: -50%;
  box-sizing: border-box;
}
.ball-2,
.ball-3,
.ball-4 {
  /* background: rgba(0,255,0,.3); */
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 2;
}
.ball-2:before,
.ball-3:before,
.ball-4:before {
  /*border: 5px solid #009;
  background: #fff;*/
  content: '';
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 27.5px;
  top: -5px;
}
.ball-2 {
  transform: rotate(120deg);
}
.ball-3 {
  transform: rotate(240deg);
}
@keyframes wash {
  100% {
    transform: rotate(1800deg);
  }
}

/******************************************/

.main_container
{
  /*display: none;*/
}


.header_div
{
  background: linear-gradient(to right,  #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%);
  width: 100%;
  padding: 4%;
}

.logo_div
{
  width: 20%;
  display: inline-block;
}

.empty_div
{
  width: 56%;
  display: inline-block;
}

.dl_div
{
  width: 20%;
  display: inline-block;
  text-align: right;
}

.logo_img
{
  width: 85%;
  border: none !important;
}

.logo_img:hover
{
  cursor: pointer;
  opacity: 0.75;
}


.dl_btn_span
{
  padding: 6px;
  padding-top: 8px;
  background-color: transparent; 
  font-family: 'ClanPro Book';
  font-size: 12px;
  color: #de9155;
  border: solid 2px #de9155;
}

.dl_btn_span:hover
{
  cursor: pointer;
  color: #1d1e1c;
  background-color: #de9155;
}

.menu_bar
{
  width: 100%;
  min-height: 65px;
  max-height: 123px;
  background: url(assets/img/menu_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  /*position: relative;*/
  position: absolute;
  text-align: center;
  padding-bottom: 5px;
  z-index: 999;
}

.menu_bar_scroll
{
  position: fixed;
  top: 0;
}

.menu_bar_hidden
{
  width: 100%;
  /*display: none;*/
  position: relative;
  background: linear-gradient(to right, #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%);
}

.menu_internal
{
  display: table-cell;
  vertical-align: middle;
}

.menu_span_div
{
  display: inline-block;
  width: 100px;
  position: relative;
}

.menu_span_div_2
{
  display: none;
}

.menu_span
{
  display: inline-block;
  color: #f9e9dd;
  font-family: 'Lovelo Black';
  margin-right: 3.5%;
  margin-left: 3.5%;
  margin-top: 10px;
  padding-bottom: 1px;
  border-bottom: solid 1px transparent;
}

.menu_span_models
{
  display: block;
}

.menu_span:hover
{
  cursor: pointer;
  opacity: 0.75;
  border-bottom: solid 1px #f9e9dd;
}

.menu_span_active
{
  border-bottom: solid 1px #f9e9dd;
}

.mobile_links
{
  border: none !important;
}
/********* Nav Bar Mobile **********/


.mobile_nav, .fake_head
{
  display: none;
}

.navbar-header
{
  /*height: 180px;*/
  background: linear-gradient(to right, #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%);
}

.navbar-brand
{
  display: block;
  /* height: inherit; */
  /* height: 120px; */
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.navbar-brand > img 
{
    display: block;
    /*width: 30%;*/
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggle 
{
  position: relative;
  float: none; 
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  border: none;
  color: #1d1d1b !important;
}

.navbar-toggle:focus, .navbar-toggle:hover
{
  background-color: transparent !important;
  border: none !important;
  color: #1d1d1b !important;
}

#navbar
{
  background: linear-gradient(to right, #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%);
  border: none;
}

.nav > li 
{
  text-align: center;
}

.nav > li:hover, .navbar-toggle:hover
{
  opacity: 0.75
}

.navbar-nav > li > a
{
  color: #f9e9dd !important;
  font-family: 'Lovelo Black';
  text-transform: uppercase;
  font-size: 11px;
}

/*.menu_btns_sub_1
{
  padding-bottom: 0 !important;
}

.menu_btns_sub_2
{
  padding-top: 20 !important;
}*/

.menu_btns_sub
{
  padding: 0 !important;
  margin: 0 !important;
  font-size: 8px !important;
  line-height: 17px !important;
}

.dl_btn_span_menu
{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 7px !important;
  padding-bottom: 4px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
  font-size: 10px !important;
}
/***********************************/

/*.menu_span:hover:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;

    cursor: pointer;
}*/

.main_div
{
  width: 100%;
  /*height: 350px;
  background:url('assets/img/main_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
}

.main_div img
{
  width: 100%;
}

.main_divs
{
  display: none;
}

#home
{
  display: block;
}

.proj_overview
{
  position: relative;
}

.proj_overview img
{
  width: 100%;
}

.proj_overview_box
{
  background-color: #fff7f1;
  width: 27%;
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 2%;
}

.proj_overview_box p
{
  font-family: 'ClanPro Book';
  font-size: 13px;
}

.proj_overview_box span
{
  font-family: 'ClanPro Bold';
  font-size: 13px;
}

.location
{
  position: relative;
}

.location_box
{
  background-color: #fff7f1;
  width: 27%;
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 2%;
}

.location_box p
{
  font-family: 'ClanPro Book';
  font-size: 13px;
}

.models
{
  position: relative;
}

.model_box
{
  background-color: #fff7f1;
  width: 27%;
  position: absolute;
  top: 1%;
  right: 5%;
  padding: 3%;
}

.model_box p
{
  font-family: 'ClanPro Book';
  font-size: 13px;
}

.model_1_2_head, .model_1_3_head, .model_2_2_head, .model_3_2_head
{
  width: 100%;
  background: url(assets/img/model_1_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  position: relative;
  padding: 4%;
  padding-top: 2%;
  padding-bottom: 1%;
}

.model_1_2_head span, .model_1_3_head span, .model_2_2_head span, .model_3_2_head span
{
  display: block;
  font-size: 30px;
  font-family: 'Lovelo Black';
  color: #fff7f1;
  text-transform: uppercase;
}

.model_1_2_div, .model_1_3_div, .model_2_2_div, .model_3_2_div
{
  text-align: center;
  padding: 3%;
  background: linear-gradient(to left,  #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%);
}

.model_1_2_div img, .model_1_3_div img, .model_2_2_div img
{
  width: 25%;
}

.model_3_2_div img
{
  width: 45%;
}

.model_3_2_div_img
{
  margin-right: 15px;
}

.constr_btn
{
  position: relative;
  /*background: linear-gradient(to right, #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%); */
  width: 100%;
  /*height: 550px;*/
}

.slider_div
{
  background: linear-gradient(to right, #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%); 
  width: 100%;
  /*height: 550px;*/
}


.tparrows 
{
  background: none;
}

.tparrows:hover
{
  opacity: 0.75 !important;
}

.tparrows:before {
color: transparent !important
}

.tp-leftarrow
{
  background: url(assets/img/const_arrow_left.png) !important;
  background-repeat: no-repeat !important;
  background-size: 35% !important;
  background-position: center !important;
}

.tp-rightarrow
{
  background: url(assets/img/const_arrow_right.png) !important;
  background-repeat: no-repeat !important;
  background-size: 35% !important;
  background-position: center !important;
}

.constr_btn span 
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'ClanPro Bold';
  font-size: 30px;
  color: #de9155;
  width: 30%;
  text-align: center;
  height: 30px;
}

.devs
{
  position: relative;
}

.devs_box
{
  background-color: #fff7f1;
  width: 27%;
  position: absolute;
  top: 7%;
  right: 5%;
  padding: 3%;
}

.devs_box p
{
  font-family: 'ClanPro Book';
  font-size: 13px;
}

.devs_logo_div
{
  width: 100%;
  text-align: left;
}

.devs_logo_div img
{
  width: 20%;
}

.contact_div
{
  width: 100%;
  background: linear-gradient(to right,  #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%);
  padding: 5%;
}
.contact_box_1
{
  width: 100%;
}

.contact_left_div
{
  width: 10%;
  /*display: inline-block;*/
  float: left;
}

.contact_left_div span
{
  display: block;
  font-family: 'ClanPro Bold';
  font-size: 13px;
  color: #de9155;
}

.contact_right_div
{
  width: 70%;
  /*display: inline-block;*/
  float: left;
}

.contact_right_div span
{
  display: block;
  font-family: 'ClanPro Book';
  font-size: 13px;
  color: #de9155;
}

.contact_right_div_span_1
{
  display: inline-block !important;
  margin-right: 10px;
}

.contact_div_span_bot
{
  margin-top: 10px;
}

.contact_right_inner
{
  border-top: solid 2px #de9155;
  display: inline-block;
  margin-top: 15px;
  padding-top: 7px;
}

.contact_right_div_span_4
{
    display: inline-block !important;
    margin-right: 20px;
}

.contact_right_div_span_3
{
  font-family: 'UniversNextArabic-Regular' !important;
  margin-right: 0;
}

.send_us_div
{
  margin-top: 4%;
  margin-bottom: 1%;
}

.contact_box_2_span_1
{
  font-family: 'ClanPro Bold';
  font-size: 13px;
  color: #de9155;
  text-transform: uppercase;
}

.first_form
{
  /*margin-top: 15px;*/
}

.contact_box_2_left
{
  width: 22%;
  float: left;
}

.contact_form_input
{
  background-color: #f9e9dd;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
  color: #de9155;
}

.form-group 
{
    margin-bottom: 8px;
}

.contact_box_2 input::-webkit-input-placeholder, .contact_box_2 textarea::-webkit-input-placeholder {
   color: #de9155;
}

.contact_box_2 input:-moz-placeholder, .contact_box_2 textarea:-moz-placeholder { /* Firefox 18- */
   color: #de9155;
}

.contact_box_2 input::-moz-placeholder, .contact_box_2 textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #de9155;
}

.contact_box_2 input:-ms-input-placeholder, .contact_box_2 textarea:-ms-input-placeholder {  
   color: #de9155; 
}

.submit_btn
{
  color: #de9155;
  border: solid 1px #de9155;
  background-color: transparent;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0;
  font-size: 13px;
}

.submit_btn:hover
{
  color: #000;
  background-color: #de9155;
}

.contact_box_2_right
{
  width: 62%;
  float: left;
  margin-left: 8px;
}

.contact_form_text
{
  background-color: #f9e9dd;
  border-radius: 0;
  box-shadow: none;
  color: #de9155;
  width: 100%;
}

.submit_2
{
  display: none;
}

.md-close, .md-trigger
{
    display: none;
}

.md-close
{
  position: absolute;
  top: -10px;
  right: -10px;
  border: solid 1px #ed6086;
  color: #ed6086;
  background-color: #f4eed6;
}

.md-close:hover
{
  color: #f4eed6;
  background-color: #ed6086;
  border-color: #f4eed6;
}

.md-content > div
{
  padding-bottom: 0 !important;
}

.md-content img
{
    margin-right: 10px;
    width: 5%;
    margin-bottom: 3px;
}

.send_spin, .succ_div
{
  display: none;
  text-align: center;
}

.md-content
{
  /*background: linear-gradient(to right,  #1d1e1c 0%,#3a3a39 100%,#3a3a39 100%) !important;*/
  background: #fff7f1 !important;
  overflow-y: auto !important;
  overflow-x: inherit;
  max-height: 500px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 10px !important;
}

.md-modal
{
  min-width: 270px !important;
  width: 30% !important;
}

.md-content h3
{
  background: transparent !important;
  /*color: #fff7f1;*/
  color: #de9155;
  font-family: 'ClanPro Bold';
  letter-spacing: 4px;
  font-size: 17px !important;
  text-transform: uppercase;
  margin-bottom: 20px !important;
  opacity: 1 !important;
}

#modal-20
{
  /*width: 50% !important;*/
  padding: 20px;
}

#modal-20 .md-content
{
  padding: 0;
}

#modal-20, #modal-20 .md-content
{
  background-color: #fff7f1 !important;
}

#modal-20 .form-horizontal .control-label
{
  background: transparent !important;
  color: #ebbd99;
  font-family: 'ClanPro Book';
  font-size: 13px;
  text-transform: uppercase;
  border: solid 2px #ebbd99;
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
  padding-top: 6px;
}

#modal-20 .form-control
{
  border: none;
  color: #fff7f1;
  border-radius: 0;
  background-color: #ebbd99;
  /*height: 45px;*/
  width: 100%;
}

.pdf_submit_btn_div
{
  padding: 0;
  width: 100%;
}

.pdf_submit_btn_div button
{
  background: transparent !important;
  color: #ebbd99;
  font-family: 'ClanPro Book';
  font-size: 13px !important;
  text-transform: uppercase;
  border: solid 2px #ebbd99;
  width: 100%;
  text-align: center;
  border-radius: 0;
  box-shadow: none;
  padding-top: 10px;
}

.pdf_submit_btn_div button:hover
{
  background-color: #ebbd99 !important;
  border: solid 2px #ebbd99 !important;
  color: #fff7f1 !important;
}

.download_pdf_btn 
{
  text-align: center;
  display: none;
}

.download_pdf_btn input
{
  background: transparent !important;
  color: #ebbd99;
  font-family: 'ClanPro Book';
  font-size: 13px;
  text-transform: uppercase;
  border: solid 2px #ebbd99;
  width: 100%;
  text-align: center;
  border-radius: 0;
  box-shadow: none;
  padding-top: 10px;
} 

.download_pdf_btn input:hover
{
  background-color: #ebbd99 !important;
  border: solid 2px #ebbd99 !important;
  color: #fff7f1 !important;
} 

.send_spin span , .succ_div span 
{
  font-family: 'ClanPro Book';
  color: #ebbd99;
}


#modal-20 .md-close 
{
    position: absolute;
    top: 3px;
    right: 5px;
    border: none;
    color: #ebbd99;
    background-color: transparent;
    font-size: 15px;
}

.bro_input_div
{
  padding: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.gform_wrapper, #gforms_confirmation_message
{
    display: none;
}

.footer_div
{
  width: 100%;
  padding: 4%;
  padding-top: 3%;
  padding-bottom: 3%;

  background: -moz-linear-gradient(178deg, #1d1e1c 0%, #3a3a39 46%, #3a3a39 60%, #1d1e1c 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d1e1c ), color-stop(40%, #3a3a39), color-stop(54%, #3a3a39), color-stop(100%, #1d1e1c )); /* safari4+,chrome */
  background: -webkit-linear-gradient(178deg, #1d1e1c 0%, #3a3a39 46%, #1d1e1c 60%, #3a3a39 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(178deg, #1d1e1c 0%, #3a3a39 46%, #3a3a39 60%, #1d1e1c 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(178deg, #1d1e1c 0%, #3a3a39 46%, #3a3a39 60%, #1d1e1c 100%); /* ie10+ */
  background: linear-gradient(272deg, #1d1e1c 0%, #3a3a39 46%, #3a3a39 60%, #1d1e1c 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1e1c', endColorstr='#3a3a39',GradientType=1 ); /* ie6-9 */
}

.footer_logo_div img
{
  width: 100%;
}

.footer_span_div
{
  padding: 0;
  padding-top: 2%;
}

.footer_spans
{
  font-family: 'ClanPro Book';
  color: #de9155;
  display: block;
}

.footer_spans_0
{
  display: inline-block;
  margin-right: 20px;
}

.footer_span_2
{
  font-family: 'LUniversNextArabic-Regular';
}

@media screen and (max-width: 1067px) {

.location_box
{
  width: 35%;
}

.contact_div_span_top
{
  margin-top: 4px;
}

}
@media screen and (max-width: 900px) {

.proj_overview_box
{
  width: 35%;
}

.devs_box
{
  width: 40%;
}

.location_box
{
  width: 48%;
}

.location_box p
{
  font-size: 12px;
}

}
@media screen and (max-width: 768px) {

.logo_div
{
    width: 100%;
    text-align: center;
    display: block;
}

.fake_head
{
  display: block;
}

.dl_div, .menu_bar_hidden, .header_div
{
  display: none;
}

.logo_div 
{
  margin-bottom: 0;
}

.logo_div img
{
    width: 40%;
}

.dl_btn_span
{
  font-size: 10px;
}

.empty_div
{
  display: none;
}

.menu_bar
{
  display: none;
}

.mobile_nav
{
  display: block;
}

.proj_overview_box, .location_box, .devs_box, .model_box
{
  position: relative;
  width: 100%;
  top: initial;
  right: initial;
}

.proj_overview_box p, .proj_overview_box span, .devs_box p, .model_box p
{
  font-size: 14px;
}

.model_1_2_head, .model_1_3_head, .model_2_2_head, .model_3_2_head
{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.model_1_2_head span, .model_1_3_head span, .model_1_3_head span, .model_2_2_head span, .model_3_2_head span
{
  font-size: 22px;
}

.model_1_2_div img, .model_1_3_div img, .model_2_2_div img
{
  width: 45%;
}

.model_3_2_div img
{
  width: 90%;
}

.devs_logo_div
{
  text-align: center;
}

.devs_box img
{
  width: 10%;
}

.contact_right_div
{
  float: right;
}

.contact_left_div
{
  width: 15%;
}

.contact_left_div span, .contact_right_div span
{
  font-size: 10px;
}

.send_us_div
{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
}

.contact_box_2_left
{
  width: 100%;
}

.contact_box_2_right
{
  width: 100%;
  margin-left: 0;
}

.contact_box_2 input::-webkit-input-placeholder, .contact_box_2 textarea::-webkit-input-placeholder {
   font-size: 10px;
}

.contact_box_2 input:-moz-placeholder, .contact_box_2 textarea:-moz-placeholder { /* Firefox 18- */
   font-size: 10px;
}

.contact_box_2 input::-moz-placeholder, .contact_box_2 textarea::-moz-placeholder {  /* Firefox 19+ */
   font-size: 10px;
}

.contact_box_2 input:-ms-input-placeholder, .contact_box_2 textarea:-ms-input-placeholder {  
   font-size: 10px;
}

.submit_1
{
  display: none;
}

.submit_2
{
  display: block;
}

}


@media screen and (max-width: 590px) {


}